* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: 'Aref Ruqaa', serif;  
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-top: 5px solid #000;
  
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  transition: 1.2s;
  background-color:  #7880d8;
  color:  #ffffff;
}

.header-right {
  float: right;
}

.front-hello{
    
    text-align: center;
    height: 55vh;
    background: url("img/codf.jpg")
}

.front-hello h1{
    padding-top: 130px;
    text-align: center;
    color: white;
}

.port-folio{
    
    padding: 12px;
    border-top: 5px solid #000;
}

.col{
    padding: 5px;
}

.inline{
    text-align: center
    display: inline;
    border: 3px solid #000;
    transition: 1.2s;
}

.greet{
    padding: 30px;
}

.port-folio img{
    background: #7880d8;
    padding: 15px;
    border: 3px solid #000;
    height: 150px;
    transition: 1.2s;
}

.port-folio img:hover{
  
    background: hsl(219, 19%, 42%);
}

.infor-mation{
    color:white;
    
    border-top: 5px solid #000;
    background-color: #7880d8;
}
.icons{
    display: inline;
    
}

.gback{
    float: right;
    
}

.gback h2{
    padding: 10px;
    margin-top: 20px;    
    border: 2px solid black;
    border-radius: 20px;
    background: rgba(156, 158, 182, 0.623);
    transition:1.5s;
}
.gback h2:hover{
    color:white;
    background: hsl(199, 91%, 71%);
}
.gback a{   
    color: #000;
    text-decoration: none;
    
}
.copyr{
    display: none;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .front-hello h1{
      font-size: 30px;
  }
}